{% extends '_base.html' %}
{% block 'title' %}Kings English School{% endblock %}
{% block 'main' %}
{% load static %}
  <main>
    <div class="bg-img-container">
      <div class="bg-img transparent">
        <img 
          class="img-section" 
          src="{% static 'vendor/img/logo_kings_001.png' %}" 
          alt=""
        >
      </div>
    </div>
    <section id="intro" class="section1">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header class="section-img-content">
          <img 
            class="img-section" 
            src="{% static 'vendor/img/logo_kings_001.png' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>Kings English School</h2>
          <p>
            A escola de idiomas KINGS ENGLISH SCHOOL fundada
            em 1233 tem como objetivo, levar conhecimento, 
            oportunidade e inclusão. Além de capacitar os seus alunos
            com uma metodologia dinâmica, organizada e atualizada, 
            a nossa equipe trabalha para que a língua estrangeira 
            possa ser muito mais do que um desafio, uma conquista
            alcançável.
          </p>
        </article>
      </div>
    </section>
    <section id="professores" class="section2">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>Diretor e professor Luiz Santana</h2>
          <p>
            O diretor e professor Luiz Santana começou a sua docência 
            na lingua inglesa em 2008,
            longa jornada que o fez adiquirir conhecimento e experiência em sala 
            de aula. No ano de 2015
            fundou a KINGS ENGLISH SCHOOL com o objetivo de inovar no ensino de 
            idiomas.
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_luiz.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="professores2" class="section2-a">
      <div class="section-content main-content">
        <article>
          <h2>Professor Kaue Albini Ganz</h2>
          <ul>
            <li>Professor de inglês desde 2021</li>
            <li>Especialização em dublin (inglês geral) 2022</li>
            <li>Formado pela kings nível fluency idiomas.</li>
          </ul>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_kaue.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="professores3" class="section2-b">
      <div class="section-content main-content">
        <article>
          <h2>Professor Mauro Cezar Pedroni da Costa Filho</h2>
          <ul>
            <li>Experiência de 1 ano como professor</li>
            <li>Multi campeão de xadrez</li>
            <li>Universitário de matemática unespar</li>
          </ul>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_mauro.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="professores3" class="section2-b">
      <div class="section-content main-content">
        <article>
          <h2>Professora Thaise Batista Cunha</h2>
          <ul>
            <li>Licenciatura português/inglês</li>
            <li>Professora de inglês desde 2018</li>
            <li>Especialista em educação infantil</li>
          </ul>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_thaise.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="professores3" class="section2-b">
      <div class="section-content main-content">
        <article>
          <h2>Professora Daiane Miquiline</h2>
          <ul>
            <li>Licenciada em Letras Português e Literatura pela
              Faculdade Estadual de Filosofia Ciências e Letras
              do Paraná /2007</li>
            <li>Licenciada em Pedagogia pela Universidade
              Federal do Paraná/2015</li>
            <li>Especialização em Língua Portuguesa e Estudos
              Literários pela Universidade Tuiuti/2011</li>
            <li>Professora com experiência para atender alunos
              com dificuldades gerais ou específicas do ensino
              infantil ao ensino médio</li>
          </ul>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_daiane.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="servicos" class="section3">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/img_students_01.jpg' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>Serviços</h2>
          <p>
            Com o objetivo de transformar-se em um
            centro de ensino a Kings oferece aulas de
            outras disciplinas.
          </p>
          <ul>
            <li>Alfabetização e reforço escolar 1° a 5° ano</li>
            <li>Reforço de português do 1° ano ensino fundamental 
              ao 3° ano do ensino médio</li>
            <li>Reforço de Matemática o 1° ano ensino
              fundamental ao 3° ano do ensino médio</li>
            <li>Aulas de redação para concursos e vestibulares</li>
          </ul>
        </article>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>VÍDEO GAME</h2>
          <p>
            Ferramenta didática divertida e apreciada por
            todas as idades. A metodologia kings utiliza
            esse recurso para uma imersão no mundo da
            língua inglesa, através da necessidade de
            avançar nos jogos os alunos são
            impulsionados a dominar o idioma
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_game.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_movie.jpg' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>FILMES E SÉRIES</h2>
          <p>
            Ferramenta didática que busca inserir os
            alunos na cultura dos países de língua
            inglesa, tanto quanto, acostumá-los com a
            pronúncia do idioma, gírias e expressões do
            dia a dia
          </p>
        </article>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>CONVERSA COM NATIVOS AMERICANOS</h2>
          <p>
            Atividade exclusiva da Kings que almeja
            possibilitar o aluno a conversar com nativos para
            encorajá-los a se expressar em inglês. Também
            serve como um intercâmbio cultural, pois durante
            as interações vários temas atuais e de interesse
            de todas são abordados
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_natives.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_pile.jpg' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>TORTA NA CARA</h2>
          <p>
            Outra atividade exclusiva da Kings que
            através de uma competição entre colegas
            busca fazer com que os alunos se dediquem
            para que saiam com a “cara limpa”
            dabrincadeira. Os alunos precisam memorizar
            vocabulários de diversas áreas e também
            dominar oalfabeto da língua inglesa.
          </p>
        </article>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>FLASH CARDS</h2>
          <p>
            Atividade que busca através do recurso visual
            o domínio de vocabulários de diversas áreas.
            Por meio dessa atividade os alunos são
            encorajados a desenvolver frases e responder
            perguntas sobre os temas estudados.
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_cards.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_boardgame.jpg' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>JOGOS DE TABULEIRO</h2>
          <p>
            Através da diversão e interação essa
            ferramenta didática prioriza a socialização em
            inglês, pois os alunos precisam perguntar e
            responder no idioma alvo para conseguir
            avançar no jogo. Um objetivo sempre auxilia na
            aquisição do idioma alvo
          </p>
        </article>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>MÚSICAS</h2>
          <p>
            Atividade cultural que busca através da arte o
            entendimento do som e contrações do inglês
            falado. Por meio dessa ferramenta os alunos
            interagem e desenvolvem vocabulário vasto, tanto
            quanto, pronúncia impecável.
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_music.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_social.jpg' %}" 
            alt=""
          >
        </header>
        <article>
          <h2>REDES SOCIAIS</h2>
          <p>
            Através do mundo digital, principalmente redes sociais
            (facebook e instagram), os alunos são estimulados a
            usar seus celulares em inglês para contribuir no
            aprendizado. Um recurso utilizado diariamante que
            pode auxiliar na aquisição da língua inglesa
          </p>
        </article>
      </div>
    </section>
    <section id="methodology" class="section4">
      <div class="header-spacer"></div>
      <div class="section-content main-content">
        <article>
          <h2>INTERCÂMBIO</h2>
          <p>
            Os alunos da Kings tem a oportunidade de estudar
            inglês e conhecer outro país através do intercâmbio.
            Fazendo com que os alunos interajam com uma
            nova cultura e possam praticar o que foi aprendido
            durante as aulas. O durante o intercâmbio nosso
            professor/diretor Luiz acompanham os alunos para
            que eles não se sintam acanhados e destravem na
            hora de uma boa conversa.
          </p>
        </article>
        <header>
          <img 
            class="img-section" 
            src="{% static 'vendor/img/landing_page_international.jpg' %}" 
            alt=""
          >
        </header>
      </div>
    </section>
    <section id="valores" class="section5">
      <div class="header-spacer"></div>
      <div class="section-content main-content max-wide">
        <header>
          <h1>Valores/Preços</h1>
        </header>
        <ul class="ul-prices">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>asdad
    </section>
  </main>
  <script src="{% static 'vendor/js/landing_page_script.js' %}"></script>
{% endblock %}