{% extends '_base.html' %}
{% block 'title' %}Kings English School{% endblock %}
{% block 'main' %}
{% load static %}
  <main>
    <section id="s1" class="s1">
        <header>
          <h1><span id="dynamic-title">.Meet</span></h1>
          <img src="{% static 'vendor/img/logo_kings_001.png' %}" alt="">
        </header>
        <article>
          <h2>First article title</h2>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iusto, laborum 
              cumque odit voluptate quos hic maiores minima quas! Cupiditate atque at enim 
              perferendis minus quibusdam reprehenderit magni maiores iure!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iusto, laborum 
              cumque odit voluptate quos hic maiores minima quas! Cupiditate atque at enim 
              perferendis minus quibusdam reprehenderit magni maiores iure!
          </p>
        </article>
    </section>
    <section id="s2">
      <header>
        <h1>Section title</h1>
      </header>
      <article>
        <h2>First article title</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iusto, laborum 
            cumque odit voluptate quos hic maiores minima quas! Cupiditate atque at enim 
            perferendis minus quibusdam reprehenderit magni maiores iure!
        </p>
      </article>
    </section>
  </main>
  <script src="{% static 'vendor/js/landing_page_script.js' %}"></script>
{% endblock %}