{% extends '_base.html' %}
{% block 'title' %}Kings Home{% endblock %}
{% block 'main' %}
  <h1>Hello World - Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut eos repellat perspiciatis rerum, 
    iure reprehenderit cumque tenetur quas consectetur maiores, tempore odio obcaecati dolore non ut 
    itaque illum. Earum, repudiandae?
    <pre>
      <code>
        def example(item):
          return item
      </code>
    </pre>
  </p>
  {% for post in object_list %}
    {{ post.post_title }}
  {% endfor %}
{% endblock %}