{% extends '_base.html' %}
{% load static %}
{% block 'title' %}Kings Home{% endblock %}
{% block 'header' %}
  {% include '_home_header.html' %}  
{% endblock %}
{% block 'main' %}
  <section class="main-content">
    <div class="header-spacer"></div>
    {% for post in posts %}
      <div class="post-card">
        <div class="title-container">
          <h2>{{ post.post_title }}</h2>
        </div>
        <div class="img-container">
          <img src="{{ post.post_img.url }}" alt="">
        </div>
        <div class="text-container">
          <p>{{ post.post_text }}</p>
        </div>
        <div class="footer-container">
          <h5>{{ post.post_author }}</h5>
          <h5>{{ post.post_date }}</h5>
        </div>
      </div>
    {% endfor %}
    <div class="footer-spacer"></div>
    {% include '_app_menu.html' %}
  </section>
{% endblock %}
{% block 'footer' %}{% endblock %}