{% extends '_base.html' %}
{% load static %}
{% block 'header' %}{% endblock %}
{% block 'main' %}
  <section class="main-content auth-section">
    {% if message %}
      <div class="msg-container">
        <h5>{{ message }}</h5>
      </div>
    {% endif %}
    <div class="logo-container">
      <div class="img-container">
        <a href="{% url 'landing_page' %}">
          <img
            href="{% url 'landing_page' %}" 
            target="_blank" 
            src="{% static 'vendor/img/logo_kings_001.png' %}" 
            alt=""
          >
        </a>
      </div>
    </div>
    <div class="form-container">
      {% block 'auth_form' %}{% endblock %}
    </div>
  </section>
{% endblock %}