{% extends '_base_profiles.html' %}
{% load static %}
{% block 'title' %}Cadastro{% endblock %}
{% block 'auth_form' %}
  <form method="POST" class="login-form">
    {% csrf_token %}
    <div>
      <label for="email">Email</label>
      <input type="text" id="email">
    </div>
    <div> 
      <label for="password">Senha</label>
      <input type="text" id="password">
    </div>
    <div> 
        <label for="password">Confirmar senha</label>
        <input type="text" id="password">
      </div>
    <div class="btn-container">
      <button type="submit">Entrar</button>
      <a href="{% url 'login' %}">Ir para Login</a>
    </div>
  </form>
{% endblock %}